@font-face {
    font-family: 'mario';
    src: url("../fonts/Super Mario Bros. 2.ttf") format('truetype');
}

.mainContainer{
    display: flex;
    
    /* /* flex-direction: row; */
    justify-content: space-around;
    font-family: 'mario';
    font-size: 25px;
    color:black;
    background-color: black;}
    