.bodyforms {
    
background-color:  rgb(248, 250, 144);
height: 100vh;
width: 100vw;
font-family:'Courier New', Courier, monospace;
background-image:url("https://media1.giphy.com/media/gjU45Okcya42ECwmCS/giphy.gif?cid=6c09b952693bfe9c0ca6b5fa8692f8da0cc6b244e436e090&rid=giphy.gif&ct=s");
background-position: 50px;
background-repeat: no-repeat;
}

.startforms {
    display: inline-block;
    padding: 12px 24px;
    font-size: 16px;
    font-weight: bold;
    font-family:'Courier New', Courier, monospace;
    text-transform: uppercase;
    color: #fff;
    background-color: rgb(217, 114, 255);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  }
  
  .startforms:hover {
    background-color: rgb(46, 134, 171);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
  }
  
  .startforms:active {
    background-color: rgb(41, 51, 92);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  }

  .fonttype{
    font-family:'Courier New', Courier, monospace;

  }


  
 